@model TopLearn.Core.DTOs.CoursesViewModel.ShowCourseListItemViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
    <article>
        <a href="/ShowCourse/@Model.ID" class="img-layer"><img style="height :150px" src="~/course/Thumb/@Model.ImageName"></a>
        <h2><a href="/ShowCourse/@Model.ID"> @Model.Title </a></h2>
        <span> @((Model.Price==0)?"رایگان":Model.Price.ToString("n0")) </span>
        <i>@Model.TotalTime</i> 
    </article>
</div>
