@page "{id}"
@model TopLearn.Site.Pages.Admin.Courses.DeleteCourseModel
@{
}


<div class="alert-danger">
    <form method="post">
        <input type="hidden" asp-for="DeleteCourse.ID" />
        <div>
            <p>آیا از حذف دوره "@Model.DeleteCourse.Title" مطمئن هستید ؟</p>
        </div>
        <a type="button" class="btn-default" href="/Admin/Courses/Index" >لغو</a>
        <input type="submit" class="btn-danger" value="حذف کن" />
    </form>
</div>